<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DELIY FOO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0995bb4a3e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kaisei+HarunoUmi:wght@700&family=Rampart+One&family=Righteous&family=RocknRoll+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= image_tag("Chef-bro.png", class: :logo1)%>
          </div>
          <h1 class="name1">
          deliy foo
          <i class="fas fa-hamburger"></i>
          </h1>
          <%= link_to image_tag("Sushi .png", class: :logo2), menus_path %>
          
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
    
      <%= link_to "Copyright © deliy foo All rights reserved.", new_user_registration_path, class: :copyright %>
      <%= link_to "※", destroy_user_session_path, method: :delete, class: :nav__logout %>
      <%= link_to ".", new_user_session_path, class: :nav__logout %>
    </footer>
  </body>
</html>